.btnRed {
    min-width: 100px;
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: $red;
    color: $white;
    @include textSmallMedium;
    @include center;
}

.btnError {
    min-width: 100px;
    width: 100%;
    max-width: 300px;
    height: 60px;
    background-color: $white;
    color: $red;
    @include textSmallMedium;
    @include center;
}