.header {
    position: fixed;
    width: $vw100;
    height: 50px;
    background-color: rgba($color: #000000, $alpha: 0.9);
    @include center;
    z-index: 100;
}

.header__tel {
    display: none;
    position: relative;
    @include textSmall_lh17;
    color: $white;
}

.nav {
    position: absolute;
    height: 50px;
    @include center_sb;
    &__link {
        width: 100%;
        height: 50px;
        color: $white;
        @include textSmall_lh17;
        @include center;
        &:hover {
            background-color: $white;
            color: $red;
            font-weight: 580;
        }
    }
}

@media screen and (max-width: 1140px) {
    .nav {
        display: none;
    }
    #button {
        display: flex;
    }
    .burger-menu {
        position: relative;
    }
    .header {
        @include center_sb;
        &__tel {
            display: block;
        }
    }
}