.header {
    position: absolute;
    width: $vw100;
    height: 50px;
    background-color: $black;
    @include padding;
    @include center;
    z-index: 100;
}

.nav {
    position: absolute;
    height: 50px;
    @include center_sb;
    &__link {
        width: 100%;
        height: 50px;
        color: $white;
        @include textSmallMedium;
        @include center;
        &:hover {
            background-color: $white;
            color: $red;
            font-weight: 580;
        }
    }
}