.info {
    @include page;
    min-height: 400px;
    @include center;
    color: $black;
    background-color: $white;
    &-wrap {
        @include center;
        min-height: 400px;
        flex-wrap: wrap;
    }
    &__text {
        font-size: $fs18;
        font-family: $mPlus;
        padding: 50px 0 50px 0;
        color: $black;
    }
}