.info {
    @include page;
    min-height: 400px;
    @include center;
    background-color: $redDark;
    &-wrap {
        @include center;
        min-height: 400px;
        flex-wrap: wrap;
    }
    &__text {
        @include textSmallMedium;
        padding: 50px 0 50px 0;
        color: $white;
    }
}