.title {
    &-page {
        @include page;
        background: linear-gradient(135deg, rgba(78, 15, 5, 0.95), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.98));
        z-index: 1;
        @include padding;
        @include center;
        overflow: hidden;
    }
    &-bg {
        z-index: 0;
        background-image: url(/img/bi.jpg);
        background-size: cover;
        @include page;
    }
}

.tovGvardis {
    padding-top: 50px;
    @include center_sb;
    &__logo {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        @include center;
    }
    &__text {
        color: $white;
        @include textExtraMedium;
        &-red {
            color: $red;
            @include textLarge;
        }
    }
}